html {
    height: 100vh;
}

body {
    margin: 0 15vh;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
}

header, ul, div, #buttons{
    display: flex;
}

ul {
    list-style: none;
}

header ul {
    gap: 2em;
}

header {
    justify-content: space-between;
    align-items: center;
    flex: 0 1 auto;
}

header h1 {
    margin: 0;
    font-size: 1.5em;
}

footer {
    text-align: center;
    padding-bottom: 2em;
}

#grid {
    display: grid;
    gap: 2em;
    width: fit-content;
}

.asset {
    flex-direction: column;
    align-self: stretch;
}

.asset div {
    background-color: lightgray;
    width: 13em;
    height: 13em;
}

.asset h2 {
    font-weight: 400;
    font-size: 1.3em;
    margin: 0.4em;
}

a {
    color: inherit;
    text-decoration: inherit;
}