html {
    height: 100vh;
}

body {
    margin: 0 15vh;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
}

header, ul, div, #buttons{
    display: flex;
}

ul {
    list-style: none;
}

header ul {
    gap: 2em;
}

header {
    justify-content: space-between;
    align-items: center;
    flex: 0 1 auto;
}

header h1 {
    margin: 0;
    font-size: 1.5em;
}

footer {
    text-align: center;
    padding-bottom: 2em;
}

#enter {
    flex-direction: column;
    flex: 0.05 1 auto;
}

#input {
    border: 1px solid #CACED8;
    flex: 0.75 1 auto;
    border-radius: 5px;
}

#main_section {
    flex: 1 1 auto;
}

h2 {
    font-size: 1em;
    margin-bottom: 0.5em;
}

#input p {
    margin: 0.4em;
    color: #CACED8;
}

#buttons {
    margin-top: 1.2em;
    gap: 1.2em
}

button {
    border: none;
    background-color: black;
    color: white;
    border-radius: 8px;
    padding: 0.8em 2.3em;
}

#main_field {
    background-color: #CACED8;
    flex: 2 0.2 auto;
    margin: 2.5em;
}

a {
    color: inherit;
    text-decoration: inherit;
}